<section class="mb-4">
  <h2 class="text-xl font-semibold mb-2">Languages</h2>
  <ul class="grid grid-cols-2 gap-2">
    {{#each languages}}
    <li>{{language}} - {{level}}</li>
    {{/each}}
  </ul>
</section>
